{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css" media="screen" title="Theme">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen" title="Main">
  {% block head %}{% endblock %}

  <title>{% block title %}SANS TITRE{% endblock %} – Prologin</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Prologin" src="{% static 'img/logo-cube.png' %}">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'v1:api-root' %}" title="API REST"><i class="fa fa-code"></i> API</a></li>
      {% if request.user.is_authenticated %}
        {% comment %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{ request.user.username }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>some item</li>
            </ul>
          </li>
        {% endcomment %}
        <li><a href="#"><i class="fa fa-user"></i> {{ request.user.username }}</a></li>
        {% if request.user.is_staff %}
          <li><a href="{% url 'admin:index' %}" title="Administration"><i class="fa fa-wrench"></i> Admin</a></li>
        {% endif %}
      {% else %}
        <li><a href="{% url 'login' %}"><i class="fa fa-user"></i> Connexion</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">

  <div class="row">

    <div class="col-sm-3" role="complementary">
      {# Side menu #}
      <h1 class="hidden-xs">&nbsp;</h1> {# hack to align menu with content #}
      {% include "stechec/nav-menu.html" %}
    </div>
    <div class="col-sm-9" role="main">

      {# Content #}
      <div id="content">
        <h1>{% block titleh1 %}{% endblock %}</h1>

            {% for message in messages %}
              <p class="alert-dismissible alert alert-{% if message.tags == 'error' %}danger{% elif message.tags %}{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Cacher">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </p>
            {% endfor %}

        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
