{% extends "stechec/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block titleh1 %}{{ title }}{% endblock %}

{% block content %}

<p class="intro">{{ explanation_text }}</p>

{% if is_paginated %}{% load paginator %}{% paginator 5 %}{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            {% if show_for_all %}
            <th>Auteur</th>
            {% else %}
            <th>Statut</th>
            {% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for champion in champions %}
        <tr class="{% cycle "row1" "row2" %}">
            <td>{{ champion.id }}</td>
            <td>{{ champion.name }}</td>
            {% if show_for_all %}
            <td{% if request.user == champion.author %} class="itsme"{% endif %}>{{ champion.author }}</td>
            <td><a href="{{ champion.get_absolute_url }}" class="btn btn-default btn-xs"><i class="fa fa-info"> Détails</i></a></td>
            {% else %}
            <td>{% include "stechec/stub_status_champion.html" %}</td>
            <td>
                <a href="{{ champion.get_absolute_url }}" class="btn btn-default btn-xs"><i class="fa fa-info"> Détails</i></a>
                <a href="{{ champion.get_delete_url }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer</a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-muted"><i class="fa fa-frown-o"></i> Aucun champion inscrit pour le moment.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
