{% extends "stechec/base.html" %}

{% block title %}Carte {{ map.name }}{% endblock %}
{% block titleh1 %}Carte {{ map.name }}
  <small>#{{ map.id }}</small>{% endblock %}

{% block content %}

  {% if map.official %}
    <p><i class=" fa fa-star text-warning"></i> Cette carte est officielle.</p>
  {% endif %}
  <p>
    Envoyée par <strong>{{ map.author }}</strong>.
  </p>

  <h3>Aperçu de la carte</h3>

  <pre>{{ map.contents }}</pre>

{% endblock %}
