{% extends "stechec/base.html" %}

{% block title %}Toutes les cartes{% endblock %}
{% block titleh1 %}Toutes les cartes{% endblock %}

{% block content %}

<p class="intro">Cette page liste toutes les maps créées par les organisateurs et candidats du concours.</p>

{% if is_paginated %}{% load paginator %}{% paginator 5 %}{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Officielle</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for map in maps %}
        <tr class="{% cycle "row1" "row2" %}{% if map.official %} official{% endif %}">
            <td>{{ map.id }}</td>
            <td>
                {% if map.official %}
                Oui <i class="fa fa-star text-warning"></i>
                {% else %}
                Non
                {% endif %}
            </td>
            <td>{{ map.name }}</td>
            <td>{{ map.author }}</td>
            <td><a href="{{ map.get_absolute_url }}" class="btn btn-default btn-xs"><i class="fa fa-info"></i> Détails</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-muted"><i class="fa fa-frown-o"></i> Aucune carte n'est disponible pour le moment.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
