{% extends "stechec/base.html" %}
{% load humanize static substract %}

{% block title %}Détail du match{% endblock %}
{% block titleh1 %}Détail du match <small>#{{ match.id }}</small>{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Match</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal dl-narrow">
            <dt>ID</dt>
            <dd>{{ match.id }}</dd>
            <dt>État</dt>
            <dd>{% include "stechec/stub_status_match.html" %}</dd>
            <dt>Initié</dt>
            <dd>{{ match.ts|naturalday }} à {{ match.ts|time:"H:i:s" }}</dd>
            <dt>par</dt>
            <dd>{{ match.author }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Replay</h3>
        </div>
        <div class="panel-body">
          {% if match.is_done %}
            <a href="{% url "match-dump" match.id %}" class="btn btn-default btn-block">
              <i class="fa fa-download"></i> Télécharger</a>
          {% else %}
            <em>Le match n'est pas encore terminé.</em>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <h2>Participants</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>UID</th>
      <th>ID champion</th>
      <th>Champion</th>
      <th>Score</th>
      <th>Log</th>
    </tr>
    </thead>
    <tbody>
    {% for player in match.matchplayer_set.all %}
      <tr class="{% cycle "row1" "row2" %}">
        <td>{{ player.id|substract:match.matchplayer__id__min }}</td>
        <td>{{ player.champion.id }}</td>
        <td>{{ player.champion }}</td>
        {% if match.is_done %}
          <td>{{ player.score }}</td>
          <td>
            {% if request.user == match.champion.author or request.user.is_staff %}
              <button data-role="toggler" data-target="#log-{{ player.id }}" class="btn btn-default btn-xs">
                <i class="fa"></i> <span>Afficher</span> le log
              </button>
              <pre id="log-{{ player.id }}">{{ player.log }}</pre>
            {% endif %}
          </td>
        {% else %}
          <td colspan="2"><i class="fa fa-clock-o"></i> <em> Match non terminé</em></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if request.user.is_staff %}
    <p><button class="btn btn-default" data-role="toggler" data-target="#serv-log"><i class="fa"></i> <span>Afficher</span> le log serveur</button></p>
    <pre id="serv-log">{{ match.log }}</pre>
  {% endif %}

  {% if settings.STECHEC_REPLAY %}
    <div id="replay">
      <canvas id="replay_canvas" width="0" height="0"></canvas>
      <br/>
      <aside>
        <div>
          <button class="replay_btn" type="button" onclick="replay_play();">Jouer</button>
          <button class="replay_btn" type="button" onclick="replay_pause();">Pause</button>
          <br/><br/>
          <input id="replay_turn" type="range" value="0" min="0" max="0"
                 onchange="replay_update()"/>
          Tour : <span id="replay_lbl_turn">0</span>
          <br/>
        </div>

        {% for player in match.matchplayer_set.all %}
          <div id="replay_p{{ player.id }}"></div> <br/>
        {% endfor %}
      </aside>
    </div>
  {% endif %}

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/uitools.js' %}"></script>
  {% if settings.STECHEC_REPLAY %}
    <script type="text/javascript" src="{% static 'replay/replay.js' %}"></script>
    <script type="text/javascript">
      replay_init();
    </script>
  {% endif %}
{% endblock %}